DOCS_PORT=8080
DOCS_BASE_URL=http://localhost:8080
DOCS_ADMIN_EMAIL_INIT=admin@example.com

# in this example: "superSecure"
DOCS_ADMIN_PASSWORD_INIT=$$2a$$05$$PcMNUbJvsk7QHFSfEIDaIOjk1VI9/E7IPjTKx.jkjPxkx2EOKSoPS
